.ContainerNosotros {
  z-index: 3000;
  position: relative;
  top: 250px;
  width: 1800px;
  height: 1524px;
  background: #1e293b;
}

.ButtonNosotros {
  margin-top: 200px;
  margin-left: 100px;
  width: 400px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #7294c2;
  background: linear-gradient(266deg, #5b245c 5.02%, #4263b4 142.75%);
  z-index: 3000;
}

.SobreNosotros {
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 250% */
}

.Parrafo {
  margin-top: -800px;
  margin-left: 100px;
  width: 1202px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px; /* 416.667% */
  z-index: 35;
}

.HeardTopOne {
  position: relative;
  top: -20%;
  left: 88%;
  display: flex;
  height: 357.631px;
  flex-shrink: 0;
  z-index: 30;
}
.HeardTopTwo {
  position: relative;
  top: 2%;
  left: 88%;
  display: flex;
  height: 357.631px;
  flex-shrink: 0;
  z-index: 20;
}
.HeardOne {
  position: relative;
  left: -3%;
  top: 1%;
  display: flex;
  width: 477px;
  height: 477px;
  padding: 60.36px 40.302px 59.009px 40.284px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
}
.HeardTwo {
  position: relative;
  top: -32%;
  left: -3%;
  display: flex;
  width: 477px;
  height: 477px;
  padding: 60.36px 40.302px 59.009px 40.284px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
}
.CarritoOne {
  position: relative;
  top: -30%;
  left: 40%;
  width: 391.674px;
  height: 304.167px;
  flex-shrink: 0;
  z-index: -3;
}
.CarritoTwo {
  position: relative;
  top: -30%;
  left: 20%;
  width: 391.674px;
  height: 304.167px;
  flex-shrink: 0;
  z-index: -2;
}
.CarritoCirculo {
  position: absolute;
  top: 53%;
  left: 62.5%;
  width: 43.75px;
  height: 43.75px;
  flex-shrink: 0;
  z-index: -4;
}
.CarritoCirculoTwo {
  position: absolute;
  top: 52%;
  left: 62%;
  width: 43.75px;
  height: 43.75px;
  flex-shrink: 0;
  z-index: -40;
}
.CarritoCirculoUno {
  position: absolute;
  top: 56%;
  left: 55.5%;
  width: 43.75px;
  height: 43.75px;
  flex-shrink: 0;
  z-index: -4;
}
.CarritoCirculoDos {
  position: absolute;
  top: 55%;
  left: 55%;
  width: 43.75px;
  height: 43.75px;
  flex-shrink: 0;
  z-index: -40;
}
@media (min-width: 3300px) {
  .ContainerNosotros {
    position: relative;
    top: 700px;
    width: 3600px;
  }
  .ButtonNosotros {
    margin-top: 300px;
    margin-left: 300px;
    width: 800px;
    height: 140px;
  }
  .SobreNosotros {
    font-size: 55px;
  }
  .Parrafo {
    margin-top: -1500px;
    margin-left: 300px;
    width: 2500px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 80px;
    line-height: 200px;
  }
  .HeardTopOne {
    position: relative;
    top: -40%;
    left: 80%;
    display: flex;
    width: 800px;
    height: 800px;
  }
  .HeardTopTwo {
    position: relative;
    top: 10%;
    left: 80%;
    display: flex;
    width: 800px;
    height: 800px;
  }

  .HeardTwo {
    display: flex;
    width: 800px;
    height: 800px;
  }
  .HeardOne {
    top: 23%;
    display: flex;
    width: 800px;
    height: 800px;
  }
  .CarritoOne {
    position: absolute;
    top: 53%;
    left: 28%;
    width: 791.674px;
    height: 704.167px;
  }
  .CarritoTwo {
    position: absolute;
    top: 53%;
    left: 30%;
    width: 791.674px;
    height: 704.167px;
  }
  .CarritoCirculo {
    position: absolute;
    top: 100%;
    left: 42%;
    width: 100.75px;
    height: 100.75px;
  }
  .CarritoCirculoTwo {
    position: absolute;
    top: 98%;
    left: 42%;
    width: 100.75px;
    height: 100.75px;
  }
  .CarritoCirculoUno {
    position: absolute;
    top: 96%;
    left: 50.5%;
    width: 100.75px;
    height: 100.75px;
  }
  .CarritoCirculoDos {
    position: absolute;
    top: 93%;
    left: 50%;
    width: 100.75px;
    height: 100.75px;
  }
}

@media (max-width: 1500px) {
  .ContainerNosotros {
    width: 80%;
  }
  .Parrafo {
    margin-top: -600px;
    margin-left: 90px;
    width: 1000px;
    color: #fff;
    font-size: 24px;
  }
  .HeardTopOne {
    position: relative;
    top: -20%;
    left: 80%;
    display: flex;
    height: 357.631px;
  }
  .HeardTopTwo {
    position: relative;
    top: 2%;
    left: 80%;
    display: flex;
    height: 357.631px;
  }
  .CarritoOne {
    position: absolute;
    top: 30%;
    width: 391.674px;
    height: 304.167px;
  }
  .CarritoTwo {
    position: absolute;
    top: 30%;
    left: 42%;
    width: 391.674px;
    height: 304.167px;
  }
  .CarritoCirculo {
    position: absolute;
    top: 49%;
    left: 68%;
    width: 43.75px;
    height: 43.75px;
  }
  .CarritoCirculoTwo {
    position: absolute;
    top: 48%;
    left: 67%;
    width: 43.75px;
    height: 43.75px;
  }
  .CarritoCirculoUno {
    position: absolute;
    top: 51%;
    left: 58%;
    width: 43.75px;
    height: 43.75px;
  }
  .CarritoCirculoDos {
    position: absolute;
    top: 50%;
    left: 58%;
    width: 43.75px;
    height: 43.75px;
  }
}
@media (max-width: 1440px) {
  .ContainerNosotros {
    width: 100%;
  }
  .HeardTopOne {
    left: 75%;
    z-index: -400;
  }
  .HeardTopTwo {
    left: 75%;
    z-index: -400;
  }
  .CarritoOne {
    left: 25%;
  }
  .CarritoTwo {
    left: 27%;
  }
  .CarritoCirculo {
    left: 53%;
  }
  .CarritoCirculoTwo {
    left: 53%;
  }
  .CarritoCirculoUno {
    left: 45%;
  }
  .CarritoCirculoDos {
    left: 45%;
  }
}

@media (max-width: 1280px) {
  .ContainerNosotros {
    width: 90%;
  }
  .seccionParrafo {
    z-index: 3000;
    width: 5%;
  }
  .Parrafo {
    margin-top: -250px;
    margin-left: 90px;
    width: 840px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 416.667% */
  }
  .HeardTopOne {
    position: relative;
    top: 1%;
    left: 81.5%;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
  .HeardTopTwo {
    position: absolute;
    top: 20%;
    left: 81.5%;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
  .CarritoOne {
    display: none;
  }
  .CarritoTwo {
    display: none;
  }
  .CarritoCirculo {
    display: none;
  }
  .CarritoCirculoTwo {
    display: none;
  }
  .CarritoCirculoUno {
    display: none;
  }
  .CarritoCirculoDos {
    display: none;
  }
}
@media (max-width: 768px) {
  .ContainerNosotros {
    width: 108%;
    overflow: hidden;
  }
  .ButtonNosotros {
    margin-left: 180px;
    margin-top: 200px;
  }
  .seccionParrafo {
    z-index: 3000;
  }
  .Parrafo {
    margin-top: -250px;
    margin-left: 50px;
    width: 600px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 416.667% */
    z-index: 3400;
  }
  .HeardTopOne {
    position: relative;
    top: 1%;
    left: 39%;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
  .HeardTopTwo {
    position: absolute;
    top: 20%;
    left: 39%;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
  .HeardTwo {
    display: none;
  }
  .HeardOne {
    top: -23%;
    z-index: -3000;
  }
}

@media (max-width: 580px) {
  .ContainerNosotros {
    position: relative;
    top: 700px;
    width: 52%;
  }
  .ButtonNosotros {
    margin-left: 15px;
  }
  .Parrafo {
    margin-top: -330px;
    margin-left: 25px;
    width: 500px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
  }
}

@media (max-width: 428px) {
  .ContainerNosotros {
    position: relative;
    top: 700px;
    width: 30%;
  }
  .ButtonNosotros {
    margin-left: 15px;
  }
  .Parrafo {
    margin-top: -330px;
    margin-left: 25px;
    width: 380px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 25px;
    line-height: 50px;
    text-align: justify;
  }
  .HeardTopOne {
    position: relative;
    top: 1%;
    left: 90px;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
  .HeardTopTwo {
    position: absolute;
    top: 20%;
    left: 90px;
    display: flex;
    height: 357.631px;
    z-index: -400;
  }
}

@media (max-width: 390px) {
  .ContainerNosotros {
    position: relative;
    top: 700px;
    width: 30%;
  }
  .ButtonNosotros {
    margin-top: 50px;
    margin-left: 80px;
    width: 250px;
    height: 80px;
  }
  .SobreNosotros {
    font-size: 25px;
  }
  .Parrafo {
    margin-top: 30px;
    margin-left: 10px;
    width: 380px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
  }
  .HeardTopOne {
    display: none;
  }
  .HeardTopTwo {
    display: none;
  }

  .HeardTwo {
    display: none;
  }
  .HeardOne {
    display: none;
  }
  .CarritoOne {
    display: none;
  }
  .CarritoTwo {
    display: none;
  }
  .CarritoCirculo {
    display: none;
  }
  .CarritoCirculoTwo {
    display: none;
  }
  .CarritoCirculoUno {
    display: none;
  }
  .CarritoCirculoDos {
    display: none;
  }
}
