.Logo {
  width: 10rem;
}

.Container {
  margin: auto;
}

.Link {
  font-size: 30px;
  font-weight: 600;
}

.Link p {
  margin: auto -30px;
  padding: 10px;
}

#basic-navbar-nav {
  background-color: rgba(68, 68, 68, 0.359);
  border: 2px solid rgba(11, 11, 11, 0.42);
  border-radius: 30px;
}

.me-auto {
  margin: auto;
  width: 80%;
}
