.containerSwiper {
  max-width: 45%;
  padding: 4rem 1rem;
  margin: auto;
  margin-top: 200px;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 400px;
  height: 380px;
  flex-shrink: 0;
  margin-left: 25%;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 5rem;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(236, 238, 241, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #f7f7f7;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(238, 233, 233, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.Swiper-Container {
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 6px solid #7294c2;
  background: linear-gradient(143deg, #6b609a 1.47%, #5b265f 99.16%);
}

@media (min-width: 3000px) {
  .swiper-slide img {
    margin: auto 25%;
    width: 700px;
    height: 680px;
  }
  .Swiper-Container {
    width: 100%;
    height: 800px;
  }
  .swiper_container {
    height: 82rem;
  }

  .slider-controler {
    left: 45%;
  }
}
@media (max-width: 1440px) {
  .containerSwiper {
    margin-left: 300px;
  }
  #digital {
    width: 260px;
    height: 320px;
  }
  .swiper-slide img {
    margin-left: 20px;
    margin-top: 10px;
    width: 230px;
    height: 320px;
  }
  .Swiper-Container {
    width: 100%;
    height: 400px;
  }
  .swiper_container {
    height: 82rem;
    width: 800px;
  }

  .slider-controler {
    left: 42%;
    bottom: 43rem;
  }
}
@media (max-width: 1366px) {
  .containerSwiper {
    margin-left: 350px;
  }
  .swiper-slide img {
    margin-left: 280px;
    width: 250px;
    height: 380px;
  }
  .Swiper-Container {
    width: 100%;
    height: 400px;
  }
  .swiper_container {
    height: 82rem;
    width: 800px;
  }

  .slider-controler {
    left: 42%;
    bottom: 35rem;
  }
}
@media (max-width: 1280px) {
  .containerSwiper {
    margin-left: 240px;
  }
  .swiper-slide img {
    margin-left: 280px;
    width: 250px;
    height: 350px;
  }
  .Swiper-Container {
    width: 100%;
    height: 400px;
  }
  .swiper_container {
    height: 82rem;
    width: 800px;
  }

  .slider-controler {
    left: 42%;
    bottom: 42rem;
  }
}
@media (max-width: 800px) {
  .containerSwiper {
    margin-left: 210px;
  }
  .swiper_container {
    height: 70%;
    position: relative;
    left: -210px;
  }
  .swiper-slide img {
    margin-left: 250px;
    width: 250px;
    height: 350px;
  }
  .Swiper-Container {
    width: 90%;
    height: 400px;
  }
  .slider-controler {
    left: 38%;
    bottom: 1rem;
  }
}
@media (max-width: 428px) {
  .containerSwiper {
    margin-left: 5px;
    height: 550px;
    width: 1500px;
    overflow: hidden;
  }
  .swiper_container {
    height: 120%;
    position: relative;
    left: -68px;
  }
  .Swiper-Container {
    width: 110%;
    height: 490px;
  }
  .slider-controler {
    left: 42%;
    bottom: 1rem;
    display: none;
  }
  .swiper-slide img {
    margin-left: -5px;
  }
}
@media (max-width: 390px) {
  .containerSwiper {
    margin-left: 5px;
    height: 550px;
    width: 1500px;
    overflow: hidden;
  }
  .swiper_container {
    height: 120%;
    position: relative;
    left: -68px;
  }
  .Swiper-Container {
    width: 110%;
    height: 490px;
  }
  .slider-controler {
    left: 42%;
    bottom: 1rem;
    display: none;
  }
  .swiper-slide img {
    margin-left: -5px;
  }
}
