.ContainerClients {
  z-index: 3000;
  position: relative;
  top: 200px;
  width: 1800px;
  height: 1524px;
  background: #1e293b;
}

.ButtonClients {
  margin-top: 200px;
  margin-left: 100px;
  width: 650px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #7294c2;
  background: linear-gradient(266deg, #5b245c 5.02%, #4263b4 142.75%);
  z-index: 3000;
}

.clients {
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 250% */
}
@media (min-width: 3300px) {
  .ContainerClients {
    position: relative;
    top: 2500px;
    width: 3600px;
  }
}
@media (max-width: 1500px) {
  .ContainerClients {
    width: 80%;
  }
}
@media (max-width: 1300px) {
  .ContainerClients {
    width: 40%;
  }
}
@media (max-width: 1280px) {
  .ContainerClients {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .ContainerClients {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .ContainerClients {
    z-index: 3000;
    top: 350px;
    width: 30%;
  }
  .ButtonClients {
    margin-left: 100px;
    width: 350px;
    height: 100px;
  }
  .clients {
    color: #fff;
    text-align: center;
    font-family: Kodchasan;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 250% */
  }
}
@media (max-width: 428px) {
  .ContainerClients {
    z-index: 3000;
    top: 350px;
    width: 30%;
  }
  .ButtonClients {
    position: relative;
    top: -100px;
    margin-left: 40px;
    width: 350px;
    height: 100px;
  }
  .clients {
    color: #fff;
    text-align: center;
    font-family: Kodchasan;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 250% */
  }
}

@media (max-width: 390px) {
  .ContainerClients {
    z-index: 3000;
    top: 200px;
    width: 30%;
  }
  .ButtonClients {
    margin-top: -500px;
    margin-left: 80px;
    width: 260px;
    height: 100px;
  }
  .clients {
    color: #fff;
    text-align: center;
    font-family: Kodchasan;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 250% */
  }
}
