.Logo {
  position: relative;
  right: -1200px;
  width: 360px;
  height: 360px;
  flex-shrink: 0;
}

h1 {
  position: relative;
  margin: auto;
  width: 747px;
  height: 235px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  z-index: 3000;
}
.Button {
  position: relative;
  left: 40%;
  top: 50px;
  width: 350px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #7294c2;
  background: linear-gradient(266deg, #5b245c 5.02%, #4263b4 142.75%);
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5);
  z-index: 3000;
}
.Span {
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 333.333% */
}
.Poligono1 {
  position: absolute;
  top: -360px;
  left: -550px;
  width: 1600px;
  height: 1500px;
  z-index: 50;
  overflow: hidden;
}

.Poligono2 {
  position: absolute;
  top: -360px;
  left: -60px;
  width: 1300px;
  height: 1600px;
  z-index: 48;
  overflow: hidden;
}

.Poligono3 {
  position: absolute;
  top: -700px;
  left: 5px;
  width: 1200px;
  height: 2000px;
  z-index: 47;
  overflow: hidden;
}
.Poligono5 {
  position: absolute;
  top: -1000px;
  left: 5px;
  width: 900px;
  height: 2000px;
  z-index: 60;
  overflow: hidden;
}

.Poligono6 {
  position: absolute;
  top: -1150px;
  left: 5px;
  width: 750px;
  height: 2100px;
  z-index: 60;
  overflow: hidden;
}

.Poligono7 {
  position: absolute;
  top: -1000px;
  left: 5px;
  width: 800px;
  height: 2000px;
  z-index: 60;
  overflow: hidden;
}
.Poligono8 {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 1900px;
  height: 2000px;
  z-index: 40;
  overflow: hidden;
}
.Poligono9 {
  position: absolute;
  top: -10px;
  left: 5px;
  width: 1300px;
  height: 1400px;
  z-index: 42;
  overflow: hidden;
}
.Poligono10 {
  position: absolute;
  top: -1100px;
  left: 100px;
  width: 1200px;
  height: 2600px;
  z-index: 41;
  overflow: hidden;
}
.Poligono11 {
  position: absolute;
  top: -1100px;
  left: 200px;
  width: 1200px;
  height: 2600px;
  z-index: 35;
  overflow: hidden;
}
@media (min-width: 3300px) {
  .ContainerMax {
    width: 100%;
  }
  .Logo {
    position: relative;
    right: -1900px;
    width: 660px;
    height: 660px;
  }

  h1 {
    position: relative;
    left: -100px;
  }
  .Button {
    position: relative;
    left: 1630px;
    top: 50px;
  }

  .Poligono1 {
    position: absolute;
    top: -300px;
    left: -1500px;
    width: 120%;
    height: 100%;
    z-index: 15;
  }

  .Poligono2 {
    position: absolute;
    top: -400px;
    left: -1500px;
    width: 120%;
    height: 100%;
    z-index: 16;
  }

  .Poligono3 {
    position: absolute;
    top: -500px;
    left: -1000px;
    width: 120%;
    height: 110%;
    z-index: 47;
  }
  .Poligono5 {
    position: absolute;
    top: -600px;
    left: -850px;
    width: 120%;
    height: 110%;
    z-index: 60;
  }

  .Poligono6 {
    position: absolute;
    top: -600px;
    left: -850px;
    width: 120%;
    height: 110%;
    z-index: 60;
  }

  .Poligono7 {
    position: absolute;
    top: -300px;
    left: -1500px;
    width: 120%;
    height: 100%;
    z-index: 60;
  }
  .Poligono8 {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 1900px;
    height: 2000px;
    z-index: 40;
  }
  .Poligono9 {
    position: absolute;
    top: -200px;
    left: -2500px;
    width: 130%;
    height: 100%;
    z-index: 16;
  }
  .Poligono10 {
    position: absolute;
    top: -300px;
    left: -200px;
    width: 80%;
    height: 120%;
    z-index: 20;
  }
  .Poligono11 {
    position: absolute;
    top: -300px;
    left: 10px;
    width: 80%;
    height: 120%;
    z-index: 12;
  }
}
@media (max-width: 1500px) {
  .App {
    width: 80%;
  }
  .Logo {
    position: relative;
    right: -900px;
  }
}

@media (max-width: 1300px) {
  .ContainerMax {
    width: 90%;
  }
  .App {
    width: 50%;
  }
  .Logo {
    position: relative;
    right: -900px;
    width: 360px;
    height: 360px;
  }

  h1 {
    position: relative;
    left: 350px;
    width: 747px;
    height: 235px;
  }
  .Button {
    position: relative;
    left: 550px;
    top: 50px;
    width: 350px;
    height: 80px;
  }
  .Span {
    color: #fff;
    text-align: center;
    font-family: Kodchasan;
    font-size: 24px;
  }

  .Poligono1 {
    position: absolute;
    top: -360px;
    left: -100px;
    width: 1400px;
    height: 1500px;
  }

  .Poligono2 {
    position: absolute;
    top: -250px;
    left: 10px;
    width: 1000px;
    height: 1600px;
  }

  .Poligono3 {
    position: absolute;
    top: -700px;
    left: -50px;
    width: 900px;
    height: 1800px;
  }
  .Poligono5 {
    position: absolute;
    top: -1000px;
    left: -50px;
    width: 900px;
    height: 2100px;
  }

  .Poligono6 {
    position: absolute;
    top: -1150px;
    left: -65px;
    width: 750px;
    height: 2100px;
  }

  .Poligono7 {
    position: absolute;
    top: -1000px;
    left: -1px;
    width: 900px;
    height: 2100px;
  }
  .Poligono8 {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 1900px;
    height: 2000px;
  }
  .Poligono9 {
    position: absolute;
    top: -10px;
    left: 5px;
    width: 900px;
    height: 1100px;
  }
  .Poligono10 {
    position: absolute;
    top: -1100px;
    left: 5px;
    width: 1000px;
    height: 2500px;
  }
  .Poligono11 {
    position: absolute;
    top: -1100px;
    left: 5px;
  }
}
@media (max-width: 1200px) {
  .ContainerMax {
    width: 60%;
  }
  .App {
    width: 50%;
  }
  .Logo {
    position: relative;
    right: -600px;
  }

  h1 {
    position: relative;
    left: 180px;
  }
  .Button {
    left: 380px;
  }

  .Poligono1 {
    position: absolute;
    top: -360px;
    left: -100px;
    width: 700px;
  }

  .Poligono2 {
    position: absolute;
    top: -250px;
    left: 10px;
    width: 400px;
  }

  .Poligono3 {
    position: absolute;
    top: -700px;
    left: -50px;
    width: 400px;
  }
  .Poligono5 {
    position: absolute;
    top: -1000px;
    left: -50px;
    width: 400px;
  }

  .Poligono6 {
    position: absolute;
    top: -1150px;
    left: -65px;
    width: 320px;
  }

  .Poligono7 {
    position: absolute;
    top: -1000px;
    left: -1px;
    width: 350px;
  }
  .Poligono8 {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 2200px;
    height: 2000px;
  }
  .Poligono9 {
    position: absolute;
    top: -10px;
    left: 5px;
    width: 300px;
  }
  .Poligono10 {
    position: absolute;
    top: -1100px;
    left: -50px;
    width: 580px;
    height: 2500px;
  }
  .Poligono11 {
    position: absolute;
    top: -1100px;
    left: -50px;
    width: 500px;
  }
}

@media (max-width: 800px) {
  .ContainerMax {
    width: 60%;
  }
  .App {
    width: 50%;
  }
  .Logo {
    position: relative;
    right: -400px;
    width: 360px;
    height: 360px;
  }

  h1 {
    position: relative;
    left: 50px;
  }
  .Button {
    position: relative;
    left: 250px;
    top: 50px;
  }
}
