.ContainerContacto {
  z-index: 3000;
  position: relative;
  top: 1000px;
  width: 1800px;
  height: 1624px;
  background: #1e293b;
}

.ButtonContacto {
  margin-top: 200px;
  margin-left: 100px;
  width: 650px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #7294c2;
  background: linear-gradient(266deg, #5b245c 5.02%, #4263b4 142.75%);
  z-index: 3000;
}

.contacto {
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 250% */
}
.fila {
  z-index: -20;
  display: flex;
  margin: auto;
  margin-top: 80px;
  margin-left: 300px;
  width: 1313px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 6px solid #7294c2;
  background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
  box-shadow: 0px 24px 24px 0px #60669a;
}
.col {
  width: 100%;
  padding: 10px;
  position: relative;
}
.SpanName {
  z-index: 2;
  position: relative;
  top: 100px;
  left: 20px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.SpanTelefono {
  z-index: 2;
  position: relative;
  top: 100px;
  left: 20px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.SpanCorreo {
  z-index: 2;
  position: relative;
  top: 100px;
  left: 20px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.SpanTema {
  z-index: 2;
  position: relative;
  top: 100px;
  left: 20px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.SpanMensaje {
  z-index: 2;
  position: relative;
  top: 100px;
  left: 20px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-group {
  position: relative;
}
.col input,
.col textarea {
  z-index: 20;
  all: unset;
  width: 1000px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid rgba(114, 148, 194, 0);
  background: rgba(91, 36, 92, 0.4);
  box-shadow: 0px 6px 6px 0px #7294c2;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#mensaje {
  height: 100px;
}
.ButtonMensaje {
  position: relative;
  top: 30px;
  left: 440px;
  width: 350px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #7294c2;
  background: linear-gradient(266deg, #5b245c 5.02%, #4263b4 142.75%);
  box-shadow: 7px 7px 7px 7px #7294c2;
}

.ModalMensaje {
  color: #fff;
  text-align: center;
  font-family: Kodchasan;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 250% */
  margin: auto;
  margin-top: 100px;
}
.MensajeEnviado {
  margin: auto;
  text-align: center;
  width: 754px;
  height: 318px;
  border-radius: 30px;
  border: 3px solid #7294c2;
  background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
  backdrop-filter: blur(12px);
}
.EnviarMensaje {
  width: 603px;
  height: 652px;
  color: #fff;
  font-family: Kodchasan;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 333.333% */
}
.TwitchChartOne {
  position: relative;
  left: 600px;
  top: 18px;
  width: 232.5px;
  height: 229.78px;
  flex-shrink: 0;
}
.TwitchChartTwo {
  position: relative;
  left: 350px;
  top: 18px;
  width: 232.5px;
  height: 229.78px;
  flex-shrink: 0;
}
.SVGFlechaOne {
  position: relative;
  left: 20px;
  top: 18px;
  width: 300.564px;
  height: 241.07px;
  z-index: 300;
}
.SVGFlechaTwo {
  position: relative;
  left: -300px;
  top: 20px;
  width: 300.564px;
  height: 241.07px;
  z-index: 300;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 3072px) {
  .ContainerContacto {
    width: 40%;
  }
  .contacto {
    font-size: 50px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 450px;
    width: 150%;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    display: grid;
    margin-top: 20px;
    width: 100%;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 700px;
    width: 30%;
  }
  .EnviarMensaje {
    font-size: 50px;
  }

  .TwitchChartOne {
    position: relative;
    left: 1450px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 1200px;
    top: 10px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 150px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: -120px;
    top: 10px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}
@media (max-width: 2880px) {
  .ContainerContacto {
    width: 40%;
  }
  .contacto {
    font-size: 50px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 200%;
    height: 1150px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    display: grid;
    width: 100%;
    margin-top: 20px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 700px;
    width: 30%;
  }
  .EnviarMensaje {
    font-size: 50px;
  }

  .TwitchChartOne {
    position: relative;
    left: 1500px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 2250px;
    top: -200px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 150px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: -120px;
    top: 10px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}

@media (max-width: 2560px) {
  .ContainerContacto {
    width: 40%;
  }
  .contacto {
    font-size: 50px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 200%;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    display: grid;
    margin-top: 20px;
    width: 100%;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 700px;
    width: 30%;
  }
  .EnviarMensaje {
    font-size: 50px;
  }

  .TwitchChartOne {
    position: relative;
    left: 1065px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 1800px;
    top: -200px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 150px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: -120px;
    top: 10px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}
@media (max-width: 1920px) {
  .ContainerContacto {
    width: 40%;
  }
  .contacto {
    font-size: 50px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 200%;
    height: 1150px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    display: grid;
    margin: auto;
    margin-top: 30px;
    width: 1000px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 500px;
    width: 30%;
  }
  .EnviarMensaje {
    font-size: 50px;
  }

  .TwitchChartOne {
    position: relative;
    left: 1500px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 1250px;
    top: 20px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 150px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: -120px;
    top: 10px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}
@media (max-width: 1440px) {
  .ContainerContacto {
    width: 40%;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 180px;
    width: 1013px;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 980px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 250px;
    width: 500px;
  }

  .TwitchChartOne {
    position: relative;
    left: 965px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 750px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 20px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: 30px;
    top: -210px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}

@media (max-width: 1366px) {
  .ContainerContacto {
    width: 40%;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 180px;
    width: 1013px;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 980px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }

  .col input:focus,
  .col textarea:focus:is(:valid) ~ label {
    transform: translateY(-140%);
    transform: scale(0.7);
    background-color: rgba(91, 36, 92, 0.4);
    padding-inline: 0.3rem;
    color: rgba(91, 36, 92, 0.4);
    border: 1px solid var(rgba(91, 36, 92, 0.4));
    width: 800px;
    margin-left: 100px;
  }

  .ButtonMensaje {
    left: 250px;
    top: 50px;
    width: 500px;
  }

  .TwitchChartOne {
    position: relative;
    left: 965px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 750px;
    top: 18px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 20px;
    top: 18px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: 20px;
    top: -215px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}

@media (max-width: 1024px) {
  .ContainerContacto {
    width: 40%;
    margin-top: 1590px;
  }
  .fila {
    display: grid;
    margin: auto;
    margin-top: -150px;
    margin-left: 120px;
    width: 813px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }

  .SpanName {
    z-index: 2;
    position: relative;
    top: 10px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .SpanTelefono {
    z-index: 2;
    position: relative;
    top: 10px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .SpanCorreo {
    z-index: 2;
    position: relative;
    top: 10px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .SpanTema {
    z-index: 2;
    position: relative;
    top: 10px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .SpanMensaje {
    z-index: 2;
    position: relative;
    top: 10px;
    color: #fff;
    font-family: Kodchasan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .col input,
  .col textarea {
    width: 780px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }

  .ButtonMensaje {
    left: 150px;
  }

  .TwitchChartOne {
    position: relative;
    left: 765px;
    top: -150px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .TwitchChartTwo {
    position: relative;
    left: 550px;
    top: -170px;
    width: 232.5px;
    height: 229.78px;
    flex-shrink: 0;
  }
  .SVGFlechaOne {
    position: relative;
    left: 20px;
    top: 18;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: 20px;
    top: -215px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}

@media (max-width: 768px) {
  .ContainerContacto {
    width: 40%;
    margin-top: 1590px;
  }
  .ButtonContacto {
    margin-left: 60px;
    margin-top: 10px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-left: 120px;
    width: 550px;
    height: 1250px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 520px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 10px;
  }

  .TwitchChartOne {
    display: none;
  }
  .TwitchChartTwo {
    display: none;
  }
  .SVGFlechaOne {
    position: relative;
    left: 20px;
    top: 18;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
  .SVGFlechaTwo {
    position: relative;
    left: 20px;
    top: -215px;
    width: 300.564px;
    height: 241.07px;
    z-index: 300;
  }
}

@media (max-width: 540px) {
  .ContainerContacto {
    width: 40%;
    margin-top: 1590px;
  }
  .ButtonContacto {
    margin-left: 20px;
    width: 500px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 20px;
    width: 500px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 470px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 5px;
    width: 450px;
  }

  .TwitchChartOne {
    display: none;
  }
  .TwitchChartTwo {
    display: none;
  }
  .SVGFlechaOne {
    display: none;
  }
  .SVGFlechaTwo {
    display: none;
  }
}
@media (max-width: 480px) {
  .ContainerContacto {
    width: 30%;
    margin-top: 1890px;
    height: 40%;
  }
  .ButtonContacto {
    position: relative;
    top: -100px;
    margin-left: 100px;
    width: 300px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 370px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .col input:focus,
  .col textarea:focus:is(:valid) ~ label {
    transform: translateY(-140%);
    transform: scale(0.7);
    background-color: rgba(91, 36, 92, 0.4);
    padding-inline: 0.3rem;
    color: rgba(91, 36, 92, 0.4);
    border: 1px solid var(rgba(91, 36, 92, 0.4));
    width: 400px;
    margin-top: 100px;
    margin-left: -10px;
  }
  .ButtonMensaje {
    left: -5px;
    top: 50px;
    width: 380px;
  }

  .TwitchChartOne {
    display: none;
  }
  .TwitchChartTwo {
    display: none;
  }
  .SVGFlechaOne {
    display: none;
  }
  .SVGFlechaTwo {
    display: none;
  }
}
@media (max-width: 428px) {
  .ContainerContacto {
    width: 30%;
    margin-top: 1790px;
    height: 40%;
  }
  .ButtonContacto {
    position: relative;
    top: -100px;
    margin-left: 60px;
    width: 300px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 20px;
    width: 400px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 370px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: -5px;
    width: 370px;
  }

  .TwitchChartOne {
    display: none;
  }
  .TwitchChartTwo {
    display: none;
  }
  .SVGFlechaOne {
    display: none;
  }
  .SVGFlechaTwo {
    display: none;
  }
}

@media (max-width: 390px) {
  .ContainerContacto {
    width: 30%;
    margin-top: 1590px;
  }
  .ButtonContacto {
    margin-left: 40px;
    width: 300px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 8px;
    width: 380px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 350px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 20px;
  }
}
@media (max-width: 375px) {
  .ContainerContacto {
    width: 30%;
    margin-top: 1790px;
  }
  .ButtonContacto {
    margin-left: 40px;
    width: 300px;
  }
  .fila {
    display: flex;
    margin: auto;
    margin-top: -20px;
    margin-left: 8px;
    width: 360px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #7294c2;
    background: linear-gradient(218deg, #6b609a -4.18%, #5d2b64 98.82%);
    box-shadow: 0px 24px 24px 0px #60669a;
  }
  .col input,
  .col textarea {
    width: 335px;
    height: 74px;
    margin-top: 20px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(114, 148, 194, 0);
    background: rgba(91, 36, 92, 0.4);
    box-shadow: 0px 6px 6px 0px #7294c2;
  }
  .ButtonMensaje {
    left: 10px;
    margin-top: 20px;
    width: 300px;
  }
}
